<div fxLayout='column' fxLayoutAlign="center">
  <div fxLayout='row' fxLayoutAlign="center">
    <app-uk-census-table></app-uk-census-table>
    <app-uk-census-female-and-male-graph></app-uk-census-female-and-male-graph>
  </div>
  <div fxLayout='row' fxLayoutAlign="center">
    <app-uk-census-female-and-male-chart></app-uk-census-female-and-male-chart>
  </div>
  <div fxLayout='row' fxLayoutAlign="center">
    <app-uk-census-female-chart></app-uk-census-female-chart>
    <app-uk-census-male-chart></app-uk-census-male-chart>
  </div>
</div>
