<div id="section-title" fxLayout='row' fxLayoutAlign="center">
  London Cholera Outbreak 1854
</div>
<div fxLayout='column' fxLayoutAlign="center">
  <div fxLayout='row' fxLayoutAlign="center">
    <app-cholera-table></app-cholera-table>
    <app-cholera-graph></app-cholera-graph>
  </div>
  <div fxLayout='row' fxLayoutAlign="center">
    <app-cholera-map></app-cholera-map>
  </div>
</div>
<div id="section-title" fxLayout='row' fxLayoutAlign="center">
  Naples Cholera Outbreak 1884 - 1911
</div>
<div fxLayout='column' fxLayoutAlign="center">
  <div fxLayout='row' fxLayoutAlign="center">
    <app-cholera-and-genders-table></app-cholera-and-genders-table>
    <app-cholera-and-genders-graph></app-cholera-and-genders-graph>
  </div>
</div>
