<div id="info" fxLayout="column">
  <div id="text" fxLayout="row">
    <h2>
      Author: Gum Aung
    </h2>
  </div>
  <div id="text" fxLayout="row">
    ICS 484 University of Hawaii at Manoa
  </div>
  <div id="text" fxLayout="row">
    Contact: <a href="mailto: aunggum@hawaii.edu">aunggum@hawaii.edu</a>
  </div>
  <div id="text" fxLayout="row">
    Produce a dashboard about London’s cholera outbreak in 1854
  </div>
  <div id="text" fxLayout="row">
    based on data created and compiled by Robin Wilson (robin@rtwilson.com, www.rtwilson.com/academic)
  </div>
  <div id="text" fxLayout="row">
    The dashboard is created entirely with code using Plot.ly, Leaflet.js on Angular Framework
  </div>
</div>
